datasets
huggingface-hub
pandas
numpy
tqdm
torch
scikit-learn
transformers
jupyter
sentence-transformers
compressed-tensors
accelerate
bitsandbytes
transformers[torch]
hf_xet
matplotlib
pyarrow
vllm
sentence_transformers
seaborn